
.new-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
      margin-bottom: 2rem;
    gap: 3rem;
}

@media screen and (max-width: 699px) {

    .list-container{
        margin: 0;
        padding: 0;
        gap: 1rem;
        width: 90%;
    }
}