header {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    flex-direction: column;
    height: 30vh;
    align-items: center;
}

.icon {
    width: 5%;
}

.bear {
    transform: rotate(20deg);
}

.icecream {
    transform: rotate(20deg);
}

.hammer {
    transform: rotate(-20deg);
}

.icon-box {
    display: flex;
    gap: 6rem;
    width: 100%;
    justify-content: center;
}

.banner2 {
    width: 25%;
    position: absolute;
    left: 0;
    top: 20px;
}

.h2-bg {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    background: radial-gradient(var(--primary1) 50%, var(--baseDark1) 100%, var(--baseDark1));
    width: 100%;
    justify-content: center;
}

h2 {
    color: var(--base);
    font-size: 2rem;
    height: fit-content;
    font-family: regular;
    font-weight: 700;
    margin: 0;
}

.nav {
    display: flex;
    width: 50%;
    margin-top: 2rem;
    justify-content: space-around;
}

.link-nav {
    color: var(--primary1);
    font-family: fun;
    font-size: 2rem;
}

@media screen and (max-width: 869px) {

    header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 1rem 0;
    }

    .icon-box {
        grid-row: 2;
        grid-column: 1/ span 4;
        gap: 1rem;
        justify-content: space-around;
        margin-top: 1rem;
    }

    .icon {
        width: 10%;
    }

    .banner2 {
        display: none;
    }

    .h2-bg {
        grid-row: 1;
        grid-column: 1/ span 4;
    }

    h2 {
        font-size: 1.5rem;
    }

    .nav {
        grid-row: 3;
        grid-column: 1/ span 4;
        width: 100%;
        margin-top: 0;
    }

    .link-nav {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 423px) {
    .h2-bg {
        gap: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
}