.list {
    width: 30%;
    position: relative;
}

.list-content {
    z-index: 10;
    border: 1px solid var(--base3);
    text-align: center;
    background-color: var(--base1);
    color: var(--primary);
    font-family: regular;
    width: 100%;
}

.arrow {
    color: var(--primary2);
    width: 100px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.arrow-left {
    color: var(--primary2);
    width: 100px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.list-image {
    max-width: 100%;
    max-height: 100%;
}

h3 {
    font-size: 1.5rem;
}

.new-task {
    margin: 1rem;
}

.edit-list {
    display: none;
}


@media screen and (max-width: 1069px) {
    .list {
        width: 80%;
    }
}

@media screen and (max-width: 699px) {
    .list {
        width: 100%;
        margin: 1rem;
    }
}