
.task-title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h4{
    margin-bottom: 0.3rem;
}

.done{
    text-decoration: line-through;
}

.progress{
    text-decoration: none;
}