.goal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 2rem;
    gap: 3rem;
}

.goal-content {
    z-index: 10;
    border: 1px solid var(--base1);
    text-align: center;
    background-color: var(--primary3);
    font-family: regular;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.new-goal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal {
    width: 30%;
    position: relative;
}

.goal-date {
    background-color: var(--base2);
    border-radius: 0.5rem;
    width: 60%;
    align-self: center;
}

.category {
    display: flex;
    flex-direction: column;
    // width: 100%;
}

#category {
    background-color: var(--base1);
    color: var(--primaryDark3);
    font-family: regular;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.new-step {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

@media screen and (max-width: 699px) {
    .goal-container {
        margin: 0;
        padding: 0;
        gap: 1rem;
        width: 90%;
    }
}

@media screen and (max-width: 843px) {
    .goal {
        width: 80%;
    }
}