 @font-face {
   font-family: fun;
   src: url(./assets/fonts/shadows.ttf);
 }

 @font-face {
   font-family: regular;
   src: url(./assets/fonts/regular.ttf);
 }

 :root {

   line-height: 1.5;
   font-weight: 400;
   --shadow-size: 9px;

   --base1: #c9a689;
   --base2: #caa078;
   --base3: #c69763;
   --baseDark1: #676971;
   --baseDark2: #676971;
   --baseDark3: #503e3a;
   --base: #c65909;
   --primary1: #8a9184;
   --primary2: #8a9184;
   --primary3: #1d3822;
   --primaryDark1: #b9be9e;
   --primaryDark2: #6e725b;
   --primaryDark3: #125c05;
   --primary: #000;

   --input-shadow: 1px 1px var(--shadow-size) var(--primary1), -1px -1px var(--shadow-size) var(--primary1);
   --base-shadow: inset 0px 0px 0px var(--primary1), inset 0px 0px 0px var(--base2), 2px 2px 5px var(--primary1),
     -2px -2px 5px var(--primary1);
 }

 body {
   margin: 0;
   padding: 0;
   height: calc(100vh - 2rem);
   background-color: var(--baseDark1);
   color: var(--base);
 }

 input {
   height: 1.5rem;
   padding: 0.25rem 0.5rem;
   border: none;
   border-radius: 8px;
   background-color: var(--primary1);
   margin-right: 0.5rem;
   color: var(--primary3);
   font-family: regular;
 }

 button {
   border-radius: 8px;
   cursor: pointer;
   border: 1px solid transparent;
   color: var(--primary);
   padding: 0.25rem 0.5rem;
   margin: 0.5rem;
   font-family: regular;
   height: 1.8rem;
   font-weight: 500;
   font-size: 1rem;
   background: var(--primary1);
   border: 2px solid var(--primary2);
   box-shadow: var(--base-shadow);
 }